$borderColor: rgb(216, 216, 216);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Lato", sans-serif;
}

button {
  border: none;
  border-right: solid $borderColor 1px;
  border-left: solid $borderColor 1px;
  font-size: 0.85rem;
}

html {
  background-color: white;
  overflow-x: hidden;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}
