#firstButton, #secondButton {

  transition: background-color 150ms, color 150ms;
  will-change: color, background-color;

  .white {
    display: none;
  }
}

#firstButton:hover, #secondButton:hover {

  background-color: #EB316B;
  color: white;

  .white {
    display: block;
  }
  .pink {
    display: none;
  }
}

#secondButton {
  border-left: none;
}

.upper__buttons__button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  cursor: pointer;
}
