#firstButton,
#secondButton {
  transition: background-color 150ms, color 150ms;
  will-change: color, background-color;

  .white {
    display: none;
  }
}

#firstButton:hover,
#secondButton:hover {
  background-color: #eb316b;
  color: white;

  .white {
    display: block;
  }
  .pink {
    display: none;
  }
}

#secondButton {
  border-left: none;
}

.upper__buttons__button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .upper__buttons__button {
    span {
      font-size: 0.75rem;
    }

    .icon {
      width: 0.7rem;
      height: 0.7rem;
    }
  }
}

@media screen and (min-width : 550px) {
  .upper__buttons__button {
    span {
      font-size: 1.25rem;
    }

    .icon {
      width: 1rem;
    }
  }
}
