.hamburgermenu {
  width: 80px;
  height: 80px;

  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  cursor: pointer;

  @media screen and (min-width: 0\0) {
    justify-content: space-around;
    padding: 15px;
  }
}

.hamburgermenu-stripe {
  width: 40px;
  height: 5px;
  background-color: black;

  transform-origin: center center;
  transition: transform 300ms, background-color 150ms;
  will-change: transform, background-color;
}

.crossedStripes {
  #stripe-1 {
    transform: translateY(16.5px) rotate(45deg);
  }

  #stripe-2 {
    background-color: transparent;
  }

  #stripe-3 {
    transform: translateY(-16.5px) rotate(-45deg);
  }
}

@media screen and (max-width: 320px) {
  .hamburgermenu {
    padding: 0px;
    width: 60px;
    height: 60px;
  }
}

@media screen and (min-width: 1100px) {
  .hamburgermenu {
    display: none;
  }
}
