.middle__logo {
  height: 60px;
}

@media screen and (min-width: 200px) and (max-width : 279px) {
  .middle__logo {
    height: 30px;
  }
}

@media screen and (max-width: 320px) and (min-width : 280px) {
  .middle__logo {
    height: 45px;
  }
}

@media screen and (min-width: 1100px) {
  .middle__logo {
    height: 50px;
    padding-right: 100px;
  }
}

@media screen and (min-width: 1500px) {
  .middle__logo {
    height: 55px;
    padding-right: 100px;
  }
}

@media screen and (min-width: 2800px) {
  .middle__logo {
    height: 150px;
    padding-right: 250px;
  }
}





