.searchButton {
    border: none;
    cursor: pointer;
    background-color: transparent;
    height : 50px;
    width : 50px;

    &__icon {
        width : 75%;
    }
}

@media screen and (max-width: 320px) {
  .searchButton {
    height : 35px;
    width : 35px;
}
}
