@font-face {
  font-family: "Lato Light";
  src: url("../../../assets/fonts/Lato-Light.ttf");
}
@font-face {
  font-family: "Lato";
  src: url("../../../assets/fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato Bold";
  src: url("../../../assets/fonts/Lato-Bold.ttf");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato";
}

button {
  border: none;
  border-right: solid rgb(216, 216, 216) 1px;
  border-left: solid rgb(216, 216, 216) 1px;
  font-size: 0.85rem;
}

html {
  background-color: white;
  font-family: "Lato", sans-serif;
}

a {
  color: black;
  text-decoration: none;
  font-family: "Lato Bold", sans-serif;
  cursor: pointer;
}

header {
  width: 100vw;
  min-height: 100px;
  overflow: auto;
}
header .line-desktop {
  display: none;
}
header .upper {
  width: 100%;
  min-height: 55px;
  display: flex;
  justify-content: space-around;
  border-bottom: solid rgb(216, 216, 216) 1px;
  background-color: white;
}
header .upper__buttons {
  display: flex;
}
header .upper__buttons__button {
  height: 100%;
  width: 100px;
}
header .middle {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: white;
}
header .searchForm {
  width: 100%;
  min-height: 60px;
  position: fixed;
  transform: translateY(-400%);
  transition: 500ms transform;
  will-change: transform;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
header .searchForm-visible {
  transform: translateY(0%);
}
header nav {
  width: 100%;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  transform: translateY(-150%);
  z-index: -1;
  transition: transform 600ms;
  will-change: transform;
}
header .shown {
  transform: translateY(0);
}

.line-mobile {
  width: calc(100vw - 4rem);
  margin-left: 2rem;
}

@media screen and (max-width: 280px) and (min-width: 200px) {
  header .upper,
  header .middle,
  header nav {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  header .middle {
    min-height: 80px;
  }
  header nav {
    min-height: 175px;
  }
  header .upper__buttons {
    width: 120px;
  }
  header .upper__buttons__button {
    width: 60px;
  }
}
@media screen and (max-width: 320px) and (min-width: 280px) {
  header .middle {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  header .upper__buttons {
    width: auto;
  }
  header .upper__buttons__button {
    width: 80px;
  }
}
@media screen and (min-width: 650px) {
  header nav {
    min-height: 450px;
  }
  header .upper {
    min-height: 70px;
  }
  header .upper__buttons__button {
    width: 150px;
  }
  header .middle {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  header .line-mobile {
    width: calc(100vw - 10rem);
    margin-left: 5rem;
  }
}
@media screen and (min-width: 1100px) {
  header .upper {
    min-height: 38px;
    justify-content: space-between;
    padding-left: 9rem;
    padding-right: 9rem;
  }
  header .upper__buttons__button {
    width: 120px;
    display: flex;
    justify-content: space-evenly;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  header .middle {
    padding-left: 9rem;
    padding-right: 9rem;
  }
  header .searchForm,
  header .line-mobile {
    display: none;
  }
  header nav {
    flex-direction: row;
    transform: translateY(0%);
    position: static;
    justify-content: space-between;
    min-height: 50px;
    padding-left: 9rem;
    padding-right: 9rem;
  }
  header .line-desktop {
    display: block;
    width: calc(100vw - 18rem);
    margin-left: 9rem;
  }
}
@media screen and (min-width: 1200px) {
  header .upper,
  header .middle,
  header nav {
    padding-left: 13rem;
    padding-right: 13rem;
  }
  header .line-desktop {
    width: calc(100vw - 26rem);
    margin-left: 13rem;
  }
}
@media screen and (min-width: 1500px) {
  header .upper,
  header .middle,
  header nav {
    padding-left: 20rem;
    padding-right: 20rem;
  }
  header .line-desktop {
    width: calc(100vw - 40rem);
    margin-left: 20rem;
  }
}
@media screen and (min-width: 2800px) {
  header .upper,
  header .middle,
  header nav {
    padding-left: 6vw;
    padding-right: 6vw;
  }
  header nav {
    min-height: 100px;
  }
  header .upper {
    min-height: 100px;
  }
  header .upper__buttons__button {
    width: 240px;
    display: flex;
    justify-content: space-evenly;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  header .middle {
    min-height: 250px;
  }
  header .line-desktop {
    width: 88vw;
    margin-left: 6vw;
  }
}
@media screen and (min-width: 2800px) {
  header .upper,
  header .middle,
  header nav {
    padding-left: 15vw;
    padding-right: 15vw;
  }
  header .line-desktop {
    width: 70vw;
    margin-left: 15vw;
  }
}
#firstButton,
#secondButton {
  transition: background-color 150ms, color 150ms;
  will-change: color, background-color;
}
#firstButton .white,
#secondButton .white {
  display: none;
}

#firstButton:hover,
#secondButton:hover {
  background-color: #eb316b;
  color: white;
}
#firstButton:hover .white,
#secondButton:hover .white {
  display: block;
}
#firstButton:hover .pink,
#secondButton:hover .pink {
  display: none;
}

#secondButton {
  border-left: none;
}

.upper__buttons__button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .upper__buttons__button span {
    font-size: 0.7rem;
  }
  .upper__buttons__button .icon {
    width: 0.9rem;
  }
}
@media screen and (min-width: 650px) {
  .upper__buttons__button span {
    font-size: 1.25rem;
  }
  .upper__buttons__button .icon {
    width: 1.5rem;
  }
}
@media screen and (min-width: 1100px) {
  .upper__buttons__button span {
    font-size: 0.65rem;
  }
  .upper__buttons__button .icon {
    width: 0.8rem;
  }
}
@media screen and (min-width: 1500px) {
  .upper__buttons__button span {
    font-size: 0.75rem;
  }
  .upper__buttons__button .icon {
    width: 1rem;
  }
}
@media screen and (min-width: 2800px) {
  .upper__buttons__button span {
    font-size: 1.7rem;
  }
  .upper__buttons__button .icon {
    width: 1.8rem;
  }
}
.upper__contact {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.upper__contact__item {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 0.1rem;
}
.upper__contact__item span {
  padding-left: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
}

@media screen and (max-width: 320px) {
  .upper__contact {
    min-width: 120px;
  }
  .upper__contact__item .icon {
    width: 0.6rem;
    height: 0.6rem;
    transform: translateX(0.2rem);
  }
  .upper__contact__item span {
    font-size: 0.6rem;
  }
}
@media screen and (min-width: 550px) {
  .upper__contact {
    min-width: 320px;
  }
  .upper__contact__item {
    padding-left: 0.5rem;
  }
  .upper__contact__item span {
    padding-left: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
  }
}
@media screen and (min-width: 1100px) {
  .upper__contact {
    min-width: 220px;
    flex-direction: row;
  }
  .upper__contact__item {
    padding-left: 0.5rem;
  }
  .upper__contact__item span {
    padding-left: 0.5rem;
    font-size: 0.6rem;
    font-weight: 500;
  }
}
@media screen and (min-width: 1500px) {
  .upper__contact {
    min-width: 270px;
    flex-direction: row;
  }
  .upper__contact__item {
    padding-left: 0.5rem;
  }
  .upper__contact__item span {
    padding-left: 0.5rem;
    font-size: 0.8rem;
    font-weight: 500;
  }
}
@media screen and (min-width: 2800px) {
  .upper__contact {
    min-width: 650px;
  }
  .upper__contact__item {
    padding-left: 1rem;
  }
  .upper__contact__item span {
    font-size: 2rem;
    font-weight: 500;
  }
}
.searchbar {
  display: none;
}

@media screen and (min-width: 1100px) {
  .searchbar {
    display: flex;
    min-width: 400px;
    justify-content: space-between;
    border-bottom: solid #555 2px;
    height: 30px;
  }
  .searchbar__icon {
    height: 20px;
  }
  .searchbar__input {
    border: none;
    outline: none;
  }
  .searchbar__input::-moz-placeholder {
    color: rgb(172, 172, 172);
  }
  .searchbar__input::placeholder {
    color: rgb(172, 172, 172);
  }
}
@media screen and (min-width: 1500px) {
  .searchbar {
    min-width: 500px;
    height: 40px;
  }
  .searchbar__icon {
    height: 24px;
  }
  .searchbar__input {
    font-size: 0.85rem;
  }
}
@media screen and (min-width: 2800px) {
  .searchbar {
    min-width: 1000px;
    height: 80px;
  }
  .searchbar__icon {
    height: 48px;
  }
  .searchbar__input {
    font-size: 1.7rem;
  }
}
.hamburgermenu {
  width: 80px;
  height: 80px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.hamburgermenu-stripe {
  width: 40px;
  height: 5px;
  background-color: black;
  transform-origin: center center;
  transition: transform 300ms, background-color 150ms;
  will-change: transform background-color;
}

.crossedStripes #stripe-1 {
  transform: translateY(16.5px) rotate(45deg);
}
.crossedStripes #stripe-2 {
  background-color: transparent;
}
.crossedStripes #stripe-3 {
  transform: translateY(-16.5px) rotate(-45deg);
}

@media screen and (max-width: 320px) {
  .hamburgermenu {
    padding: 0px;
    width: 60px;
    height: 60px;
  }
}
@media screen and (min-width: 1100px) {
  .hamburgermenu {
    display: none;
  }
}
.middle__logo {
  height: 60px;
}

@media screen and (min-width: 200px) and (max-width: 279px) {
  .middle__logo {
    height: 30px;
  }
}
@media screen and (max-width: 320px) and (min-width: 280px) {
  .middle__logo {
    height: 45px;
  }
}
@media screen and (min-width: 1100px) {
  .middle__logo {
    height: 50px;
    padding-right: 100px;
  }
}
@media screen and (min-width: 1500px) {
  .middle__logo {
    height: 55px;
    padding-right: 100px;
  }
}
@media screen and (min-width: 2800px) {
  .middle__logo {
    height: 150px;
    padding-right: 250px;
  }
}
.cart {
  position: relative;
  width: 35px;
  height: 40px;
}
.cart__text {
  display: none;
}
.cart__icons {
  width: 35px;
  height: 40px;
  position: relative;
}
.cart__icons img {
  height: 40px;
  position: absolute;
}
.cart__icons__count {
  background-color: #ecc7d0;
  color: white;
  font-weight: 600;
  width: 1.4rem;
  height: 1.4rem;
  transform: translate(1.4rem, 1.5rem);
  font-size: 0.8rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
@media screen and (min-width: 1100px) {
  .cart {
    min-width: 160px;
    display: flex;
    justify-content: flex-end;
  }
  .cart__text {
    display: block;
    font-size: 0.85rem;
    font-weight: 600;
  }
  .cart__icons {
    margin-right: 0.6rem;
  }
  .cart__icons img {
    height: 28px;
  }
  .cart__icons__count {
    width: 1.2rem;
    height: 1.2rem;
    font-size: 0.65rem;
    transform: translate(1rem, 1.1rem);
  }
}
@media screen and (min-width: 1500px) {
  .cart__icons {
    margin-right: 0.6rem;
  }
  .cart__icons img {
    height: 35px;
  }
  .cart__icons__count {
    transform: translate(1.2rem, 1.3rem);
  }
}
@media screen and (min-width: 2800px) {
  .cart {
    min-width: 420px;
  }
  .cart__text {
    display: block;
    font-size: 1.7rem;
    font-weight: 600;
  }
  .cart__icons {
    margin-right: 0.6rem;
    height: 80px;
    margin-right: 2rem;
  }
  .cart__icons img {
    height: 70px;
  }
  .cart__icons__count {
    width: 2.4rem;
    height: 2.4rem;
    font-size: 1.3rem;
    transform: translate(2rem, 2.2rem);
  }
}

.searchButton {
  border: none;
  cursor: pointer;
  background-color: transparent;
  height: 50px;
  width: 50px;
}
.searchButton__icon {
  width: 75%;
}

@media screen and (min-width: 200px) {
  .searchButton {
    height: 30px;
    width: 30px;
  }
}
@media screen and (max-width: 320px) and (min-width: 280px) {
  .searchButton {
    height: 35px;
    width: 35px;
  }
}
@media screen and (min-width: 1100px) {
  .searchButton {
    display: none;
  }
}
nav {
  background-color: white;
}
nav .choosen {
  color: #ecc7d0;
}
nav a {
  width: calc(100vw - 4rem);
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
  -webkit-transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
  -moz-transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
  will-change: background-color, color;
}
nav a:hover {
  background-color: #ecc7d0;
  color: white;
}

@media screen and (max-width: 279px) and (min-width: 200px) {
  nav a {
    font-size: 3vh;
    height: auto;
  }
}
@media screen and (max-width: 320px) and (min-width: 280px) {
  nav a {
    min-height: 40px;
    font-size: 1rem;
    min-height: 25px;
    height: auto;
  }
}
@media screen and (min-width: 550px) {
  nav a {
    min-height: 65px;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1100px) {
  nav a {
    min-height: 65px;
    font-size: 0.75rem;
    width: auto;
  }
  nav a:hover {
    color: #ecc7d0;
    background-color: transparent;
  }
}
@media screen and (min-width: 1500px) {
  nav a {
    min-height: 65px;
    font-size: 0.9rem;
    width: auto;
  }
  nav a:hover {
    color: #ecc7d0;
    background-color: transparent;
  }
}
@media screen and (min-width: 2800px) {
  nav a {
    min-height: 120px;
    font-size: 1.8rem;
  }
}
.searchForm {
  background-color: white;
}
.searchForm input {
  width: calc(100vw - 4rem);
  min-height: 40px;
  outline: none;
  font-size: 1.1rem;
  border: none;
  border-bottom: solid black 1px;
}

@media screen and (min-width: 550px) {
  .searchForm input {
    width: calc(100vw - 10rem);
    min-height: 50px;
    font-size: 1.25rem;
  }
}
.icon {
  width: 0.9rem;
}

@media screen and (min-width: 2800px) {
  .icon {
    width: 1.8rem;
  }
}/*# sourceMappingURL=style.css.map */