$borderColor: rgb(216, 216, 216);

header {
  width: 100vw;
  min-height: 100px;
  overflow: auto;

  .line-desktop {
    display: none;
  }

  .upper {
    width: 100%;
    min-height: 55px;
    display: flex;
    justify-content: space-around;
    border-bottom: solid $borderColor 1px;
    background-color: white;

    &__buttons {
      display: flex;

      &__button {
        height: 100%;
        width: 100px;
      }
    }
  }

  .middle {
    width: 100%;
    min-height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 1.5rem;
    padding-right: 1.5rem;

    background-color: white;
  }

  .searchForm {
    width: 100%;
    min-height: 60px;

    position: fixed;

    transform: translateY(-400%);
    transition: 500ms transform;
    will-change: transform;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: -1;
  }

  .searchForm-visible {
    transform: translateY(0%);
  }

  nav {
    width: 100%;
    min-height: 65vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    position: fixed;
    transform: translateY(-150%);
    z-index: -1;

    transition: transform 600ms;
    will-change: transform;
  }

  .shown {
    transform: translateY(0);
  }
}

.line-mobile {
  width: calc(100vw - 4rem);
  margin-left: 2rem;
}

@media screen and (max-width: 280px) and (min-width: 200px) {
  header {
    .upper,
    .middle,
    nav {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    .middle {
      min-height: 80px;
    }
    nav {
      min-height: 175px;
    }

    .upper {
      &__buttons {
        width: 120px;
        &__button {
          width: 60px;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) and (min-width: 280px) {
  header {
    .middle {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    .upper {
      &__buttons {
        width: auto;
        &__button {
          width: 80px;
        }
      }
    }
  }
}

@media screen and (min-width: 650px) {
  header {
    nav {
      min-height: 450px;
    }
    .upper {
      min-height: 70px;

      &__buttons {
        &__button {
          width: 150px;
        }
      }
    }

    .middle {
      padding-left: 5rem;
      padding-right: 5rem;
    }

    .line-mobile {
      width: calc(100vw - 10rem);
      margin-left: 5rem;
    }
  }
}

@media screen and (min-width: 1100px) {
  header {
    .upper {
      min-height: 38px;
      justify-content: space-between;
      padding-left: 9rem;
      padding-right: 9rem;

      &__buttons {
        &__button {
          width: 120px;
          display: flex;
          justify-content: space-evenly;
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
    }

    .middle {
      padding-left: 9rem;
      padding-right: 9rem;
    }

    .searchForm,
    .line-mobile {
      display: none;
    }

    nav {
      flex-direction: row;
      transform: translateY(0%);
      position: static;
      justify-content: space-between;
      min-height: 50px;
      padding-left: 9rem;
      padding-right: 9rem;
    }

    .line-desktop {
      display: block;
      width: calc(100vw - 18rem);
      margin-left: 9rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  header {
    .upper,
    .middle,
    nav {
      padding-left: 13rem;
      padding-right: 13rem;
    }

    .line-desktop {
      width: calc(100vw - 26rem);
      margin-left: 13rem;
    }
  }
}

@media screen and (min-width: 1500px) {
  header {
    .upper,
    .middle,
    nav {
      padding-left: 20rem;
      padding-right: 20rem;
    }

    .line-desktop {
      width: calc(100vw - 40rem);
      margin-left: 20rem;
    }
  }
}

@media screen and (min-width: 2800px) {
  header {
    .upper,
    .middle,
    nav {
      padding-left: 6vw;
      padding-right: 6vw;
    }

    nav {
      min-height: 100px;
    }

    .upper {
      min-height: 100px;

      &__buttons {
        &__button {
          width: 240px;
          display: flex;
          justify-content: space-evenly;
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
    }

    .middle {
      min-height: 250px;
    }

    .line-desktop {
      width: calc(100vw - 12vw);
      margin-left: 6vw;
    }
  }
}

@media screen and (min-width: 2800px) {
  header {
    .upper,
    .middle,
    nav {
      padding-left: 15vw;
      padding-right: 15vw;
    }

    .line-desktop {
      width: calc(100vw - 30vw);
      margin-left: 15vw;
    }
  }
}
