$borderColor: rgb(216, 216, 216);

header {
  width: 100vw;
  min-height: 100px;
  overflow: auto;

  .upper {
    width: 100%;
    min-height: 6vh;
    display: flex;
    justify-content: space-around;
    border-bottom: solid $borderColor 1px;
    background-color: white;

    &__buttons {
      display: flex;

      &__button {
        height: 100%;
        width: 100px;
      }
    }
  }

  .middle {
    width: 100%;
    min-height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 1.5rem;
    padding-right: 1.5rem;

    background-color: white;
  }

  .searchForm {
    width : 100%;
    min-height: 60px;

    position : fixed;

    transform: translateY(-400%);
    transition: 500ms transform;
    will-change: transform;

    display : flex;
    justify-content: center;
    align-items: center;

    z-index: -1;
  }

  .searchForm-visible {
    transform: translateY(0%);
  }

  nav {
    width: 100%;
    min-height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    position: fixed;
    transform: translateY(-150%);
    z-index: -1;

    transition: transform 600ms;
    will-change: transform;
  }

  .shown {
    transform: translateY(0);
  }
}

$line-width-mobile: calc(100vw - 4rem);

.line-mobile {
  width: $line-width-mobile;
  margin-left: 2rem;
}

@media screen and (max-width: 320px) {
  header {
    .middle {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    .upper {
      &__buttons {
        &__button {
          width: 80px;
        }
      }
    }
    nav {
      min-height: 350px;
    }
  }
}
